In [1]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt  
%matplotlib inline

In [3]:
data = pd.read_csv(r'C:\Users\H.W\Desktop\Spark\SampleSuperstore.csv')
data.head(10)

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164
5,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,48.8600,7,0.00,14.1694
6,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,7.2800,4,0.00,1.9656
7,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,907.1520,6,0.20,90.7152
8,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,18.5040,3,0.20,5.7825
9,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,114.9000,5,0.00,34.4700

In [29]:
data.describe()

,Postal Code,Sales,Quantity,Discount,Profit,Percent
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,55190.379428,229.858001,3.789574,0.156203,28.656896,0.645816
std,32063.693350,623.245101,2.225110,0.206452,234.260108,0.326922
min,1040.000000,0.444000,1.000000,0.000000,-6599.978000,-1.750000
25%,23223.000000,17.280000,2.000000,0.000000,1.728750,0.550000
50%,56430.500000,54.490000,3.000000,0.200000,8.666500,0.687500
75%,90008.000000,209.940000,5.000000,0.200000,29.364000,0.825000
max,99301.000000,22638.480000,14.000000,0.800000,8399.976000,1.000000

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ship Mode     9994 non-null   object
 1   Segment       9994 non-null   object
 2   Country       9994 non-null   object
 3   City          9994 non-null   object
 4   State         9994 non-null   object
 5   Postal Code   9994 non-null   int64
 6   Region        9994 non-null   object
 7   Category      9994 non-null   object
 8   Sub-Category  9994 non-null   object
 9   Sales         9994 non-null   float64
 10  Quantity      9994 non-null   int64
 11  Discount      9994 non-null   float64
 12  Profit        9994 non-null   float64
 13  Percent       9994 non-null   float64
dtypes: float64(4), int64(2), object(8)
memory usage: 1.1+ MB

In [31]:
data.corr()

             Postal Code     Sales  Quantity  Discount    Profit   Percent
Postal Code     1.000000 -0.023854  0.012761  0.058443 -0.029961 -0.031479
Sales          -0.023854  1.000000  0.200795 -0.028190  0.479064  0.105580
Quantity        0.012761  0.200795  1.000000  0.008623  0.066253 -0.016339
Discount        0.058443 -0.028190  0.008623  1.000000 -0.219487 -0.571625
Profit         -0.029961  0.479064  0.066253 -0.219487  1.000000  0.117289
Percent        -0.031479  0.105580 -0.016339 -0.571625  0.117289  1.000000

## Adding Column of the Percentage of Profit

In [21]:
x=list(data['Profit'])
for i in range(len(data)):
    if x[i]<0 :
        x[i]=x[i]*-1
data['Percent']=(data['Sales']-x)/data['Sales']
data.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit,Percent
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136,0.8400
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820,0.7000
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714,0.5300
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310,0.6000
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164,0.8875

### The Relation between category and sub category & profit

In [32]:
x=data.value_counts(['Category','Profit'])
x

Category         Profit
Office Supplies   6.2208       43
                  9.3312       38
Furniture         0.0000       33
Office Supplies   5.4432       32
                  3.6288       32
                               ..
                  16.5186       1
                  16.5242       1
                  16.5440       1
                  16.5984       1
Furniture        -1862.3124     1
Length: 7404, dtype: int64

In [33]:
y=data.value_counts(['Sub-Category','Profit'])
y

Sub-Category  Profit
Paper         6.2208     43
              9.3312     38
              3.6288     32
              5.4432     32
              15.5520    26
                         ..
Furnishings   21.8192     1
              21.9960     1
              22.0077     1
              22.0472     1
Envelopes     16.5186     1
Length: 7582, dtype: int64

### The Relation between category and sub category & sales

In [34]:
data.value_counts(['Category','Sales'])

Category         Sales
Office Supplies  12.960    56
                 19.440    39
                 15.552    39
                 25.920    36
                 10.368    36
                           ..
                 83.168     1
                 83.250     1
                 83.360     1
                 83.420     1
Furniture        1.892      1
Length: 6247, dtype: int64

In [25]:
data.value_counts(['Sub-Category','Sales'])

Sales    Sub-Category
12.960   Paper           53
19.440   Paper           39
15.552   Paper           38
10.368   Paper           35
25.920   Paper           32
                         ..
131.600  Accessories      1
131.880  Furnishings      1
         Phones           1
131.940  Art              1
0.444    Appliances       1
Length: 6958, dtype: int64